edmbutton @ git+https://github.com/slaclab/edmbutton.git
lcls-tools @ git+https://github.com/slaclab/lcls-tools.git
pydm
typing
pyepics
PyQt5
pyyaml
pydantic
h5py
numpy
requests
scipy
qtpy
scikit-learn
matplotlib